.details {
  padding-top: 92px;
  padding-bottom: 80px;

  @include on-tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include on-desktop {
    padding-top: 144px;
    padding-bottom: 180px;
  }

  &__title {
    margin: 0;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include on-tablet {
      gap: 48px;
    }
  }

  &__explore {
    align-self: center;
  }
}
